/* blog specific css */
$family-primary: "Comic Sans MS", sans-serif
$family-secondary: "Comic Sans MS", serif
$family-sans-serif: "Comic Sans MS", sans-serif
$family-code: "Comic Sans MS", sans-serif

// $family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $family-monospace: "Inconsolata", "Consolas", "Monaco", monospace

$body-size: 1em

$radius-small: 3px
$radius: 0.4em
$radius-large: 8px
$radius-small: 3px
$radius: 0.4em
$radius-large: 8px

$size-6: 1em
$size-7: 0.85em
$title-weight: 500
$subtitle-weight: 400

$title-weight: 500
$subtitle-weight: 400

$border-width: 2px

$navbar-height: 4rem

$control-height: 2.5em
