{#####################}
{% macro inline(fa_class, label="", tooltip="") %}

{% if tooltip %}
{% set tooltip_class="tooltip" %}
{% else %}
{% set tooltip_class="" %}
{% endif %}

{% if tooltip_class %}
<span class="{{ tooltip_class }}">{% endif %}
    {% if label %}
    <span class="icon-text">{% endif %}
        <span class="icon">
            <i class="{{ fa_class }}"></i>
            {% if tooltip %}
            <span class="tooltip-text is-6">{{ tooltip }}</span>
            {% endif %}
        </span>
        {% if label %}
        <span>{{ label }}</span>
    </span>{% endif %}
    {% if tooltip_class %}
</span>{% endif %}


{% endmacro inline %}
{#####################}


{#####################}
{% macro button(fa_class, label, tooltip="") %}

<span class="button">
    {{ icons::inline(fa_class=fa_class, label=label, tooltip=tooltip) }}
</span>

{% endmacro icon %}
{#####################}


{#####################}
{% macro topic(name, has_tooltip=true) %}

{% if name == "rust" %}
{% set icon="fab fa-rust" %}

{% elif name == "java" %}
{% set icon="fab fa-java" %}

{% elif name == "cycling" %}
{% set icon="fas fa-bicycle" %}

{% elif name == "programming" %}
{% set icon="fas fa-laptop-code" %}

{% elif name == "writing" %}
{% set icon="fas fa-pencil-alt" %}

{% elif name == "dns" %}
{% set icon="fas fa-network-wired" %}

{% elif name == "postgres" %}
{% set icon="fas fa-database" %}

{% else %}
{{ throw(message="no icon for topic: " ~ name) }}

{% endif %}

{% if has_tooltip %}
{% set tooltip=name %}
{% else %}
{% set tooltip="" %}
{% endif %}

{{ icons::inline(fa_class=icon, tooltip=tooltip ) }}

{% endmacro topic %}
{#####################}