<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ config.base_url }}/css/font-comic-neue.css" />
    <link rel="stylesheet" href="{{ config.base_url }}/blog.css" />
    <link rel="stylesheet" href="{{ config.base_url }}/fontawesome-free-5.15.2-web/css/all.min.css" />
    <link rel="stylesheet" href="{{ config.base_url }}/fontawesome-free-5.15.2-web/css/brands.min.css" />
</head>

<body>
    <nav class="navbar box" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold is-family-monospace" href="{{ config.base_url }}">
                {{ config.extra.title }}
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-data">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-data" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ config.base_url }}/posts">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-th-list"></i>
                        </span>
                        <span>Posts</span>
                    </span>
                </a>
                <a class="navbar-item" href="{{ config.extra.github }}">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Github</span>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    <section class="section">
        {% block content %} {% endblock %}
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>{{ config.extra.description }}</p>
            <p>
            <h4 class="sidebar-title text-center">Contact</h4>
            <a class="" href="{{ config.extra.github }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Github</span>
                </span>
            </a>
            <a class="" href="{{ config.extra.twitter }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fab fa-twitter"></i>
                    </span>
                    <span>Twitter</span>
                </span>
            </a>
            <a class="" href="{{ config.extra.linkedin }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fab fa-linkedin"></i>
                    </span>
                    <span>LinkedIn</span>
                </span>
            </a>
            </p>
        </div>
    </footer>
</body>

</html>