{% extends "base.html" %}

{% block content %}
<section class="hero mb-5">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <p class="title is-2">
                {{ page.title }}
            </p>
            <p class="subtitle is-4 is-italic">
                {{ page.description }}
            </p>
            <p class="is-family-monospace is-7 has-text-light">{{ page.date }}</p>
        </div>
    </div>
</section>

<div class="container is-max-desktop box">
    <article class="content">
        <p>{{ page.content | safe }}</p>
    </article>
    <section class="section p-1">
        <div>
            <a href="https://twitter.com/intent/tweet?text={{ page.title | safe }}&url={{ page.permalink | safe }}&via={{ config.extra.twitter }}&related={{ config.extra.twitter }}"
                rel="nofollow" target="_blank" title="Share on Twitter">
                <span class="icon-text button">
                    <span class="icon">
                        <i class="fab fa-twitter-square"></i>
                    </span>
                    <span>Tweet this</span>
                </span>
            </a>
            <a href="http://www.reddit.com/submit?url={{ page.permalink | safe }}&title={{ page.title | safe }}"
                rel="nofollow" target="_blank" title="Discuss on Reddit">
                <span class="icon-text button">
                    <span class="icon">
                        <i class="fab fa-reddit-square"></i>
                    </span>
                    <span>Talk on Reddit</span>
                </span>
            </a>
            <a href="https://news.ycombinator.com/submitlink?u={{ page.permalink | safe }}&t={{ page.title | safe }}"
                title="Discuss on Hacker News">
                <span class="icon-text button">
                    <span class="icon">
                        <i class="fab fa-hacker-news-square"></i>
                    </span>
                    <span>Discuss on Hacker News</span>
                </span>
            </a>
        </div>
    </section>
</div>

{% endblock content %}