{% extends "base.html" %}
{% import "macros/icons.html" as icons %}

{% block content %}
<section class="hero mb-5">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <p class="title is-2">
                {{ page.title }}
            </p>
            <p class="subtitle is-4 is-italic">
                {{ page.description }}
            </p>
            <div class="is-7">
                <a href="{{ page.permalink }}">
                    <span class="is-family-monospace">{{ page.date }}</span>
                </a>
                {% if page.taxonomies is containing("topics") %}
                {% for name in page.taxonomies["topics"] %}
                <span>{{ icons::topic(name=name) }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<div class="container is-max-desktop box">
    <article class="content">
        <p>{{ page.content | safe }}</p>
    </article>
    <section class="section p-1">
        <div>
            <a href="https://twitter.com/intent/tweet?text={{ page.title | safe }}&url={{ page.permalink | safe }}&via={{ config.extra.twitter }}&related={{ config.extra.twitter }}"
                rel="nofollow" target="_blank" title="Share on Twitter">
                {{ icons::button(fa_class="fab fa-twitter-square", label="Tweet") }}
            </a>
            <a href="http://www.reddit.com/submit?url={{ page.permalink | safe }}&title={{ page.title | safe }}"
                rel="nofollow" target="_blank" title="Discuss on Reddit">
                {{ icons::button(fa_class="fab fa-reddit-square", label="Reddit") }}
            </a>
            <a href="https://news.ycombinator.com/submitlink?u={{ page.permalink | safe }}&t={{ page.title | safe }}"
                title="Discuss on Hacker News">
                {{ icons::button(fa_class="fab fa-hacker-news-square", label="Hacker News") }}
            </a>
        </div>
    </section>
</div>

{% endblock content %}