{% extends "base.html" %}

{% block content %}

<div class="card m-5 has-background-light">
    <div class="card-header">
        <div class="container has-background-dark p-2">
            <p class="title is-2 has-text-light">{{ page.title }}</p>
            <p class="subtitle is-italic is-4 has-text-grey-light">{{ page.description }}</p>
            {% if page.date %}
            <p class="is-family-monospace is-7 has-text-light">Written on {{ page.date }}</p>
            {% endif %}
        </div>
    </div>
    <div class="card-content">
        <article class="content">
            <p>{{ page.content | safe }}</p>
        </article>
    </div>
    <section class="section">
        <div>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.permalink }}&via={{ config.extra.twitter }}&related={{ config.extra.twitter }}"
                rel="nofollow" target="_blank" title="Share on Twitter">
                <span class="icon-text button">
                    <span class="icon">
                        <i class="fab fa-twitter-square"></i>
                    </span>
                    <span>Tweet this</span>
                </span>
            </a>
            <a href="http://www.reddit.com/submit?url={{ page.permalink }}&title={{ page.title }}" rel="nofollow"
                target="_blank" title="Discuss on Reddit">
                <span class="icon-text button">
                    <span class="icon">
                        <i class="fab fa-reddit-square"></i>
                    </span>
                    <span>Talk on Reddit</span>
                </span>
            </a>
            <a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)"
                title="Discuss on Hacker News">
                <span class="icon-text button">
                    <span class="icon">
                        <i class="fab fa-hacker-news-square"></i>
                    </span>
                    <span>Discuss on Hacker News</span>
                </span>
            </a>
        </div>
    </section>
</div>

{% endblock content %}