{% extends "base.html" %}

{% block content %}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <p class="title is-2">
                {{ section.title }}
            </p>
        </div>
    </div>
</section>

{% for page in section.pages %}
<section class="container is-max-desktop">
    <div class="has-background-light box mb-5">
        <div class="subtitle is-7 is-family-monospace">{{ page.date }}</div>
        <div class="title is-4"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></div>
        <div class="content is-italic">{{ page.description }}</div>
    </div>
</section>
{% endfor %}
{% endblock content %}