{% extends "base.html" %}

{% block content %}
{% set page = get_page(path="about.md") %}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <p class="title is-2">
                {{ page.title }}
            </p>
        </div>
    </div>
</section>

<section class="container is-max-desktop">
    <div class="content has-background-light box">
        <p>
            {{ page.content | safe }}
        </p>
    </div>
</section>
{% endblock content %}