{% extends "base.html" %}

{% block content %}
{% set page = get_page(path="about.md") %}

<section class="hero mb-5">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <p class="title is-2">
                {{ page.title }}
            </p>
        </div>
    </div>
</section>

<section class="container is-max-desktop">
    <!-- <div class="content has-background-light box"> -->
    <div class="content box mb-5">
        <article class="content">
            <p>{{ page.content | safe }}</p>
        </article>
    </div>
</section>
{% endblock content %}